* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.center{
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
a{
    text-decoration: none;
}


.header{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    background: #222222;
}
.header_left{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.header_right{
    display: flex;
    gap: 32px;
    align-items: center;
}
.main_top{
    display: flex;
    margin-bottom: 65px;
    background-color: #F1E4E6;
}
.large_image{
    width: 100%;
}
.main_top_info{
    display: flex;
    align-items: center;
    gap: 19px;
}
.fashion{
    color: #F16D7F
}
.main_top_text_2{
    display: flex;
    gap: 10px;
}
.main_center{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3,362px);
    padding-bottom: 92px;
}
.main_bottom_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
}
.main_bottom_header_text{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.main_bottom_header_text2{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.main_bottom{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,362px);
}
.main_bottom_img{
    padding-bottom: 25px;
}
.main_bottom_head{
    padding-bottom: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.main_bottom_text{
    padding-bottom: 19px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.main_bottom_price{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;

}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

@media(max-width:1024px) {
    .center {
        padding-right: calc(50% - 368px);
        padding-left: calc(50% - 368px);
    }
}