@import 'vars';


*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

body{
    font-family: 'Lato', sans-serif;
    //font-family: 'Raleway', sans-serif;
}

.center{
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    background: #222222;
}

.header_left{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.header_right{
    display: flex;
    gap: 32px;
    align-items: center;
}
.dropbtn {
    background-color: #222222;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}
.dropdown_content_menu{
    padding: 10px;
}
.dropdown_content_menu_1{
    color: $mainColorSite;
    padding: 10px;
}
.dropdown_content_menu_ul{
    padding-left: 10px;
}
.header_righ_link:hover{
    transform: scale(1.1);
}

.main_top{
    display: flex;
    margin-bottom: 65px;
    background-color: #F1E4E6;
}

.large_image{
    width: 100%;
}

.main_top_info{
    display: flex;
    align-items: center;
    gap: 19px;
}

.fashion{
    color: $mainColorSite;
}

.main_top_text_2{
    display: flex;
    gap: 10px;
}

.main_center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.main_center_top{
    display: grid;
    grid-template-columns: repeat(3, 362px);
    gap: 32px;
    padding-bottom: 32px;
}

.main_center_top_link:hover{
    transform: scale(1.1);
    filter:brightness(30%);
}

.main_bottom_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
}

.main_bottom_header_text{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.main_bottom_header_text2{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.main_bottom{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,362px);
}

.main_bottom_img{
    padding-bottom: 25px;
}
.item{
    position: relative;
}
.item:hover .main_bottom_img{
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}
.item:hover .product__add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
.product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    width: 139px;
    height: 44px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 11px;
  }
  
.product__add:hover .need{
    fill: $mainColorSite;
    stroke:$mainColorSite; 
  }
.product__add:active .need{
    fill:#000000;
    stroke: #000000;
}

.main_bottom_head{
    padding-bottom: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.main_bottom_text{
    padding-bottom: 19px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.main_bottom_price{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $mainColorSite;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.footer_center_link:hover .needed_fill{
    fill:$mainColorSite;
}

.footer_center_link:hover .reverse_fill{
    fill:#000000;
}

.lower{
    background-color: #222224;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 362px);
    padding-top: 110px;
    padding-bottom: 110px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.lower_item{
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.lower_item_header{
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.lower_item_text{
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.lower_sub{
    background-image: url(img/bgi.svg);
    background-size:cover;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
}

.person{
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.subscibe{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.subscribe_email{
    display: flex;
    padding: 20px;
}


.lower_link{
    background-color: #222224;    
    padding: 25px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-around;
}

.reserv_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.icon:hover .needed_fill{
    fill:$mainColorSite;
}


/*CATALOG*/

.top_head{
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:60px;
    padding-bottom:60px;
}
.breadcrumbs_header{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $mainColorSite;
}
.breadcrumbs_header_link{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $mainColorText;
}
.breadcrumbs_header_link_1{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $mainColorSite;
}
summary {
    display: block;
  }
  
summary::-webkit-details-marker {
    display: none;
  }
.filter_box{
    height: 132px;
    position: relative;
    display: flex;
    gap: 32px;
    padding-top: 39px;
    box-sizing: border-box;

}
.filter{
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    z-index: 10;
    position: relative;
    
    &_content{
        background-color: #fff;
        padding-top: 0px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    &[open]{
        background-color: #ffffff;
        box-shadow: 6px  4px 35px rgba(0, 0, 0, 0.21);
        
    }
    &[open] .filter_heading{
        color:$mainColorSite;
    }
    &[open] path{
        fill: $mainColorSite;
    }
    
    &_summary{
        display:flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
        &:hover{
            color: $mainColorSite;
        }
        &:hover path{
            fill: $mainColorSite;
        }
    }
    
    &__heading{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    &_item{
        margin-top:16px;
    }

    &_link-box{
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }
    &_link{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $mainColorText;
        &:hover{
            color: $mainColorSite;
        }
    }
    &_head{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $mainColorText;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $mainColorSite;
        &:hover{
            color: $mainColorSite;
        }
    }
    &_item[open] .filter_head{
        color: $mainColorSite;
    }
}
.sort{
    padding-top: 12px;
    display: flex;
    gap: 18px;
    z-index: 10;
    
    &_details{
        position: relative;
    }

    &_summary{
        display: flex;
        align-items: center;
        gap: 10px;
       

    }

    &_heading{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $mainColorText;
    }

    &_box{
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
        display: flex;
        gap: 8px;
        flex-direction: column;
    }

    &_check{
        display: flex;
        gap: 9px;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $mainColorText;
    }
}
.content_box{
    .content_item{
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(3,362px);
        justify-content: center;
        justify-items: center;
    }
}
.paginator {
    width: 280px;
    padding: 10px;
    margin: 30px auto;
    white-space: nowrap;
    background: #ecf0f1;
    margin-top: 50px;
    margin-bottom: 100px;
}

.paginator a,
.paginator span {
    display: inline-block;
    min-width: 20px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background: #95a5a6;
}

.paginator .prev {
    text-indent: -1000px;
    margin-right: 20px;
    background-image: url("https://htmlacademy.ru/assets/course14/arrows.png");
    background-repeat :no-repeat ;
    background-position: 0px 0px;
}

.paginator .next {
    text-indent: -1000px;
    margin-left: 20px;
    background-image: url("https://htmlacademy.ru/assets/course14/arrows.png");
    background-repeat :no-repeat ;
    background-position: 0px -40px;
}
.paginator .current {
    background-color: $mainColorText;
}

.paginator .disabled {
    opacity: 0.3;
}

.paginator a:hover {
    background-color: $mainColorSite;
}
.container{
    display: flex;
    gap: 32px;
    margin-bottom: 60px;
}

/*BASKET*/

.basket_box{
    display: flex;
    gap: 120px;
    .color_price{
        color: $mainColorSite;
    }
    &_left{
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin-top: 90px;
        margin-bottom: 72px;
        
        &_info{
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
        
        &_header{
            padding-top: 22px;
            padding-bottom: 42px;
        }
        &_text{
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
        }
        &_img{
            padding:22px;
        }
        &_item{
            display: flex;
            gap: 30px;
            border: 1px solid rgb(242, 242, 242);
            box-shadow: 6px 6px 10px 5px rgb(154, 154, 154);
            width:max-content;
        }
        &_item:hover{
            transform:scale(1.1);
        }
        &_button{
            padding-top:72px;
            margin-bottom: 132px;
            display: flex;
            justify-content: space-between;
            &_1{
                color: $mainColorText;
                padding: 20px;
                border: 1px solid gray;
            }
            &_1:hover{
                color: $mainColorSite;
                border-color: $mainColorSite;
            }
        }
        
    }
    &_right{
        width: 100%;
        &_input{
            display: flex;
            flex-direction: column;
            padding-top: 110px;
            
            &_head{
                padding-bottom: 20px;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
            }
            .text-field {
                margin-bottom: 1rem;
                &__label {
                  display: block;
                  margin-bottom: 0.25rem;
                }
                &__input {
                  display: block;
                  width: 100%;
                  height: calc(2.25rem + 2px);
                  padding: 0.375rem 0.75rem;
                  font-family: inherit;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #212529;
                  background-color: #fff;
                  background-clip: padding-box;
                  border: 1px solid #bdbdbd;
                  border-radius: 0.25rem;
                  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }
              }
            &_button{
                margin-top: 22px;
                &_1{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 26px;
                    color: $mainColorText;
                    padding: 13px;
                    border: 1px solid gray;
                }
                &_1:hover{
                        color: $mainColorSite;
                        border-color: $mainColorSite; 
                }
            }  
        }
        &_total{
            margin-top: 60px;
            border: 0px solid gray;
            background-color: #F5F3F3;
            &_head{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-top: 29px;
                padding-right: 34px;
                &_text_1{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 13px;
                    color: #4A4A4A;
                }
                &_text_2{
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #222222;
                    padding-bottom: 40px;
                }
          

            }

            &_button{
                color: $mainColorText;
                padding: 20px;
                border: 1px solid gray;
                margin: 43px;
                justify-content: center;
                display: flex;
                background-color: $mainColorSite;
                &_1{
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                }
                &_1:hover{
                    color: $mainColorSite;
                }
            }
            &_button:hover{
                background-color: $mainColorText;
            }
        }
    }
}
    /*REGISTRATION*/
.registration{
    display: flex;
    gap: 130px;
        &__left{
            margin-bottom: 90px;

        .text-field {
           padding-bottom: 20px;
            margin-bottom: 1rem;
            &__label {
              display: block;
              margin-bottom: 0.25rem;
            }
            &__input {
              display: block;
              width: 100%;
              height: calc(2.25rem + 2px);
              padding: 30px;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #212529;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #bdbdbd;
              transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}
        }
        &__head{
            padding-top: 65px;
            padding-bottom: 20px;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 19px;
            color: #222222;
        }
        &__input_2{
            padding-bottom: 20px;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 19px;
            color: #222222;
        }
        &__subtext{
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
        }
        &__checkbox{
            margin-top: 30px;
            margin-bottom: 35px;
            display: flex;
            gap: 32px;
            align-items: center;
            justify-content: flex-start;
            .checkbox-circle{
                border-radius: 100px;
            }
            
        }
          &__join{
            display: flex;
            justify-content: flex-start;
            &__button{
                color: #ffffff;
                margin-top: 40px;
                padding: 20px;
                border: 1px solid gray;
                justify-content: center;
                display: flex;
                background-color: #F16D7F;
                gap: 10px;
                width: 200px;
                align-items: center;
            }
            &__button:hover{
                color:#000000;
                background-color: white;
            }
            &__button:hover path{
                fill:black;
            }
          }
        &__right{
            display: flex;
            flex-direction: column;
            
            .registration__head{
                font-style: normal;
                font-weight: 300;
                font-size: 28px;
                line-height: 29px;
                color: #000000;
            }
            .registration__text{
                font-style: normal;
                font-weight: 300;
                font-size: 26px;
                line-height: 29px;
                color: #000000;
            }
            .registration__ul{
                padding: 15px;
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
            }
            .registration__list{
                display: flex;
                align-items: center;
                padding: 30px;
            }
        }
    }

@media(max-width:1024px) {


    .large_image{
        width: 0%;
    }
    .main_top_left {
        display: none;
        }
    .main_top_info{
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 250px;
    }
        
    img {
        max-width: 100%;
        }
        
    .main_center_top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        padding-bottom: 32px;
        }
    .center {
        padding-right: calc(50% - 368px);
        padding-left: calc(50% - 368px);
    }   
    .main_center_img{
        display: flex;
    }   
    .main_bottom {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2,362px);
    }
    .lower{
        background-color: #222224;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(1, 362px);
        padding-top: 110px;
        padding-bottom: 110px;
        justify-items: center;
        align-items: center;
        justify-content: center;

    }
    .content_box{
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2,342px);
        margin-bottom: 60px;
    
    }
    .basket_box {
        display: flex;
        gap:0px;
        flex-direction: column;
    }
    .basket_box_left{
        margin-bottom: 0px;
        align-items: center;
        &_button{
            margin-bottom: 0px;
            gap:100px;
        }
    }

    .icon:hover path{
        fill:$mainColorSite
    }
    .registration{
        flex-direction: column;
        gap: 0px;
    }
}

@media(max-width:767px) {
    .center {
        padding-right: calc(50% - 187px);
        padding-left: calc(50% - 187px);
    }
    img {
        max-width: 100%;
    }
    
    .main_top_info{
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 10px;
    }
    .main_center_top {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        padding-bottom: 32px;
        }
    .main_center_bot{
        max-width: 100%;
    }
    .main_center_img{
        display: flex;
    }   
    .main_bottom {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(1,343px);
        justify-items: center;
        justify-content: center;
    }
    .lower_sub{
        display: grid;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: cente
    }
    .lower_link{
        display: grid;
        justify-items: center;
    }
    .icon:hover path{
        fill:$mainColorSite;
    }
    .registration{
        flex-direction: column;
        gap: 0px;
   
    }
    .registration_join__button{
        margin-bottom: 10px;
    }
    .content_box{
        display: flex;
        flex-direction: column;
    }
    .content_box .content_item {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(1, 362px);
        justify-items: center;
    }
    .basket_box_left_item {
        flex-direction: column;
        align-items: center;
    }
}